html {
  scroll-behavior: smooth;
}

#name {
  font-size:75px;
  font-family: "Apple Chancery", Arial;
  background-color: turquoise;
  text-align: center;
  animation-name: txtcolor;
  animation-duration: 5s;
  margin-top: 3%;
}

@keyframes txtcolor {
  from {color: turquoise}
  to {color: black;}
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;/*Your code here - position relative to the parent */;
  top: -40px;   /*Your code here - place 40px higher */;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

#commonhead {
  font-family: 'Apple Chancery', Arial;
  font-size: 45px;
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
}

nav ul{
  display: flex;
  flex-direction: column;
  background-color: white;
}

nav a{
  color: blue;
  font-weight: bold;
}

nav li {
  padding-top: 3px;
  padding-bottom: 2px;
}

.containermain{
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: auto;
}

.containermain img {
  max-width: 75vw;
  max-height: 75vw;
  overflow: hidden;
  margin-left: 10%;
}

.containermain p{
  font-size: 20px;
  text-align: center;
  padding: 7vw;
}

img:hover {
  border: 6px solid black;
}


.containerproj .nav{
  grid-column: 1/-1;
  grid-row: 1;
}


.containerproj header{
  margin-top: 3%;
}

.containerproj #commonhead{
  padding-top: 3%;
}

.containerproj img {
  max-width: 75vw;
  overflow: hidden;
 }

.containerproj h2{
  padding-top: 7%;
  font-size: 1.4em;
  text-align: center;
 }

.containerproj p{
  text-align: center;
  margin: 5%;
  font-size: 1.1em;
  border: solid black 2px
 }

.containerproj img{
  margin-left: 10%;
  padding-top: 4%;
}

footer{
  background-color: black;
  color: white
}

.containerresume #res-text{ 
  text-align: center;
  margin-top: 5%;
 }

.containerresume #myresume{
  margin-top: 3%;
  margin-left: 10%;
 }

.contactform {
  margin-top: 7%;
}

.myinfo {
  padding-top: 3%;
  font-size: 17px;
  margin-left: 3%;
}

.myinfo p{
  margin: 10px;
  outline: 4px solid grey;
  outline-offset: 10px;
}


.firstname{ 
  margin-top: 10%;
 }

.contactform label{
  font-size: 25px;
  margin-right: 10px;
  margin-left: 3%;
}


.contactform #submit{
  margin-top: 3%;
  margin-left: 3%;
  font-size: 20px;
  margin-bottom: 7%;
}



@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: default; /* Your code here - set to default setting */
    transition-property: default; /* Your code here - set to default setting */
    z-index: 1;
  }

  .skip a:focus{
    top:0;
  }
}